/*
TemplateMo 552 Video Catalog
https://templatemo.com/tm-552-video-catalog
*/

:root {
    --cheetah: #DFA903;
    /*var(--cheetah);*/
    --fairing: #FBFAF8;
    /*var(--fairing);*/
    --dunes: #8A6831;
    /*var(--dunes);*/
    --bay-blue: #587684;
    /*var(--bay-blue);*/
    --carbon-fiber: #121317;
    /*var(--carbon-fiber);*/
    --carbon-fiber1: #414245;
    /*var(--carbon-fiber1);*/
    --carbon-fiber2: #717174;
    /*var(--carbon-fiber2);*/
    --carbon-fiber3: #A0A1A2;
    /*var(--carbon-fiber3);*/
    --aluminum: #E6E8E6;
    /*var(--aluminum);*/
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family:"neue-haas-grotesk-display", sans-serif;
    font-weight:300;
    font-style:normal;    
    /*book*/
    font-size: 1rem;
    line-height: 2em;
    overflow-x: hidden;
    background-color: var(--fairing);
    text-rendering: optimizeLegibility;
}

a {
    transition: all 0.3s ease;
    color: var(--carbon-fiber2);
}

a:hover {
    color: #587684;
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

figcaption {
    font-size: .8rem;
    line-height: 1.2rem;
    color: var(--carbon-fiber2);
    padding: .5rem 0rem 2rem;
}

p {
    font-size: 1rem;
    line-height: 1.85rem;
}

p.center {
    text-align: center;
}

p.credits {
    font-size: .75rem;
    line-height: .9rem;
    color: var(--carbon-fiber3);
    text-align: left;
    margin-bottom: 0;
}

h1 {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-style: normal;
    font-size: calc(2vw + 4vh + 2vmin);
    /*text-transform: uppercase;*/
    letter-spacing: .15rem;
    color: var(--cheetah);
}

h1.center {
    text-align: left;
    font-size: 3 rem;
}

h1.tm-site-name {
    text-align: center;
    /* See:
     * https://codepen.io/CrocoDillon/pen/jgmwt
     * For some math behind this
     */
}

h2 {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 650;
    font-style: normal;
    font-size: 1.65rem;
    color: var(--fairing);
    padding-bottom: 1rem;
    padding-top: 2rem;
}

h2.black {
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-top: none;
    color: var(--carbon-fiber);
}

h2.black-no-space {
    padding: 0rem;
    border-top: none;
    color: var(--carbon-fiber);
}


h2.white {
    padding: 0;
}

h3 {
    font-weight: 700;
    color: var(--dunes);
    font-size: 1.1rem;
    letter-spacing: .05rem;
    line-height: 1.85rem;
    text-transform: uppercase;
    margin-bottom: 0rem;
    margin-top: 0rem;
}

h3.space-above {
    padding-top: 3rem;
}

h3.intro {
    padding-bottom: .5rem;
    font-weight: 300;
    font-style: italic;
    color: var(--fairing);
}

p.pull-quote {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.9rem;
    color: var(--fairing);
}

p.pull-quote-black {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.9rem;
    color: var(--carbon-fiber);
}

.rectangle {
    background: var(--carbon-fiber);
    border-radius: 15px;
    padding: 2rem;
    margin-bottom: 2rem;
    border: 1px solid var(--dunes);
    width: 100%;
}

h4 {
    font-size: .85rem;
    font-weight: 300;
    line-height: 1.25rem;
    color: var(--carbon-fiber);
    padding: 0rem 0rem 0rem;
    margin-bottom: 0;
}

h2.white,
p.white,
h4.white,
h3.white {
    color: var(--fairing);
}

p.dark,
h4.dark,
h3.dark {
    color: var(--carbon-fiber);
}

.tm-site-header {
    position: absolute;
    z-index: 1000;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0rem 1rem;
    background-color: var(--fairing);
    /*
    -webkit-box-shadow: 1px 1px 2px #989898, -1px -1px 4px #989898;
    box-shadow: 1px 1px 2px #989898, -1px -1px 4px #989898;
    */
}

.col-5 {
    height: 1rem;
}

.tm-logo-container {
    display: block;
    width: 9rem;
    padding-top: .5rem;
}

/*.tm-site-logo { font-size: 3rem; }*/

h1.tm-site-name {
    color: var(--fairing);
    font-size: calc(2vw + 4vh + 2vmin);
    /* See:
     * https://codepen.io/CrocoDillon/pen/jgmwt
     * For some math behind this
     */
    vertical-align: middle;
    padding-top: 6rem;
}

.tm-welcome-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 999;
}

div.text-center {
    width:80%;
    margin: auto;
    padding: 7rem 2rem;
}

.tm-welcome-text {
    font-size: calc(4vw + 4vh + 2vmin);
    /* See:
     * https://codepen.io/CrocoDillon/pen/jgmwt
     * For some math behind this
     */
    color: var(--fairing);
    padding-top: .5rem;
}

#tm-video-container {
    /*max-height: 35rem;*/
    overflow: hidden;
    background-color: var(--carbon-fiber);
    margin-bottom: 5rem;
    /*space between video header and intro section*/
}

.container-fluid {
    padding-top: 0rem;
    padding-bottom: 3rem;
    max-width: 1000px;
    /*width of page content*/
}

.section-container {
    padding-top: 2.5rem;
    max-width: 800px;
    margin: auto;
    /*width of page content*/
}

/*row*/
.row {
    padding: 0rem 1rem;
    margin-top: 0;
    justify-content: center;
}

.row-video-player {
    padding: 0rem 1rem;
}


.position-relative-header {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    justify-content: center;
    max-width: none;
}

#tm-video {
    /*header video*/
    width: 100%;
    height: auto;
    opacity: 25%;
}

.background-dark {
    background-color: var(--carbon-fiber);
}

.background-light {
    background-color: var(--fairing);
}

/*
.tm-bg-gray { 
    background-color: var(--fairing); 
}

/*logo and drop-down menu buttons*/
.tm-bg-black {
    /*background-color: rgba(0,0,0,0.5);*/
    color: var(--carbon-fiber);
}

.tm-text-secondary {
    color: #587684;
}

.tm-nav-link {
    color: var(--carbon-fiber);
    font-size: .9rem;
    font-weight: 350;
    letter-spacing: .2rem;
}

#tm-main-nav .nav-item .nav-link {
    border-bottom: 1px solid transparent;
}

#tm-main-nav .nav-item.active .nav-link,
#tm-main-nav .nav-item:hover .nav-link {
    /*border-bottom: 1px solid #0E1013;*/
    font-weight: 600;
    color: var(--carbon-fiber);
}

.btn {
    padding: 15px 60px;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--dunes);
}

.btn-primary:hover {
    background-color: var(--cheetah);
}

/*
    Button hover effect: https://tympanus.net/Development/CreativeButtons/
*/

.tm-btn-animate {
    position: relative;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.3s ease;
}

.tm-btn-animate:before {
    left: 0;
    top: -100%;
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 2.5;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 900;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.tm-btn-animate:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.tm-btn-animate:hover:before {
    top: 13px;
}

.tm-btn-animate span {
    display: inline-block;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s;
    -webkit-backface-visibility: hidden;
    -moz-transition: all 0.3s;
    -moz-backface-visibility: hidden;
    transition: all 0.3s;
    backface-visibility: hidden;
}

.tm-btn-animate:hover span {
    -webkit-transform: translateY(300%);
    -moz-transform: translateY(300%);
    -ms-transform: translateY(300%);
    transform: translateY(300%);
}

/* BUTTON TOP OF PAGE*/
.tm-btn-cta {
    color: var(--fairing);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5%;
}

.tm-btn-cta:before {
    font-size: 180%;
}

.tm-btn-download:before {
    font-size: 120%;
}

.tm-btn-submit:before {
    font-size: 120%;
}

.tm-icon-down:before {
    content: '\f078';
}

.tm-icon-download:before {
    content: '\f019';
}

.tm-icon-submit:before {
    content: '\f1d8';
}

.tm-icon-submit:hover:before {
    top: 18px;
}

.tm-btn-cta:hover {
    color: var(--fairing);
}

.tm-btn-download:hover,
.tm-btn-download:focus,
.tm-btn-submit:hover,
.tm-btn-submit:focus {
    color: var(--fairing);
    background-color: var(--dunes);
}

.tm-btn-download span {
    padding-top: 10px;
}

.tm-btn-small {
    padding: 10.5px 35px;
    font-size: 1.2rem;
}

#tm-video-control-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.tm-content-container {
    max-width: 920px;
    padding-bottom: 1.5rem;
}

/* Align page title baselines — do not change */
p.mb-4 {
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.tm-text-primary {
    padding-top: 0rem;
}

/* end of align title baselines */

.tm-catalog-item-list {
    justify-content: space-between;
    column-gap: 1rem;
    margin-top: 1rem;
}

.tm-catalog-item {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
    padding: 0rem;
    -webkit-box-shadow: 1px 1px 2px #989898, -1px -1px 4px #989898;
    box-shadow: 1px 1px 2px #989898, -1px -1px 4px #989898;
}

.tm-thumbnail-container {
    overflow: hidden;
}

.tm-thumbnail-container img {
    transition: all 0.3s ease;
}

.tm-thumbnail-container:hover img {
    transform: scale(1.2);
}

.tm-img-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
}

.tm-overlay-icon {
    color: #A0A6A0;
    opacity: 1;
    font-size: 2rem;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 8px;
    z-index: 1002;
    transition: all 0.3s ease;
}

.overlay-icon-small {
    color: #A0A6A0;
    opacity: 1;
    font-size: 1.5rem;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 8px;
    z-index: 1002;
    transition: all 0.3s ease;
}

.tm-img-overlay:hover {
    background-color: transparent;
}

.tm-img-overlay:hover .tm-overlay-icon .overlay-icon-small {
    opacity: 0;
}

.tm-catalog-item-description {
    flex: 1;
}

.tm-categories-container {
    display: flex;
    align-items: center;
}

.tm-categories-text {
    margin-right: 16px;
}

.tm-category-list {
    font-size: 1.75rem;
}

.tm-category-item {
    margin: 16px;
}

.tm-category-link {
    color: var(--dunes);
    padding: 10px;
    border-bottom: 3px solid transparent;
}

.tm-category-link.active,
.tm-category-link:hover {
    border-bottom: 3px solid var(--dunes);
    color: var(--dunes);
}

.tm-paging-link {
    background-color: var(--fairing);
    margin-right: 12px;
    font-size: 1.5rem;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item.active>.tm-paging-link,
.nav-item:hover>.tm-paging-link {
    background-color: #CCC;
    color: var(--carbon-fiber2);
}

.tm-subscribe-form {
    display: flex;
    align-items: center;
}

.tm-subscribe-form>input {
    padding: 5px 15px;
    margin-right: 20px;
    flex: 1;
    max-width: 382px;
}

footer {
    background-color: var(--carbon-fiber);
    padding: 0rem 3rem 1.5rem;
}

.text-credits {
    text-align: center;
    font-size: .7rem;
    line-height: 1.25rem;
    font-style: italic;
    color: #A0A6A0;
    padding-top: .5rem;
    border-top: .5px solid #A0A6A0;
    text-transform: uppercase;
}

.tm-footer-links>li {
    margin-bottom: 10px;
}

/*Video detail page*/

.tm-share-box {
    font-size: 1.4rem;
    padding: 3rem;
}

.tm-share-box-title {
    font-size: 1.5rem;
}

.tm-bg-white {
    background-color: var(--fairing);
    border: 1px solid #CDCECF;
    border-radius: 5px;
}

.tm-share-button {
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 24px;
}

.tm-share-button:last-child {
    margin-right: 0;
}

.tm-text-link {
    color: var(--dunes);
}

.tm-likes-box,
.tm-btn-download {
    width: 280px;
    height: 60px;
}

.tm-likes-box {
    padding-top: 12px;
}

.tm-video-description-box {
    max-width: 920px;
}

div.youtube-embed {
    display: flex;
    justify-content: center;
}

iframe {
    aspect-ratio: 16 / 9;
    width: 100% !important;
}



.col-lg-7 {
    /*LEFT COLUMN*/
    flex: 0 0 60%;
    max-width: 600px;
    padding: 0;
}

.col-lg-5 {
    /*RIGHT COLUMN*/
    flex: 0 0 40%;
    max-width: 400px;
    align-content: top;
    margin-bottom: 3rem;
    padding-left: 1rem;

}

main.gallery {
    position: relative;
    overflow: hidden;
    grid-column: 1/3;
    padding-bottom: calc(66% + 3em);
}

nav.archive {
    display: grid;
    grid-column: 1/3;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: .2em;
}

figure.gallery {
    margin: 0;
    width: calc(100% + 1em);
    position: absolute;
    opacity: 0;
    transition: opacity .5s;
}

input:nth-of-type(1):checked~main figure:nth-of-type(1),
input:nth-of-type(2):checked~main figure:nth-of-type(2),
input:nth-of-type(3):checked~main figure:nth-of-type(3),
input:nth-of-type(4):checked~main figure:nth-of-type(4),
input:nth-of-type(5):checked~main figure:nth-of-type(5),
input:nth-of-type(6):checked~main figure:nth-of-type(6),
input:nth-of-type(7):checked~main figure:nth-of-type(7),
input:nth-of-type(8):checked~main figure:nth-of-type(8),
input:nth-of-type(9):checked~main figure:nth-of-type(9),
input:nth-of-type(10):checked~main figure:nth-of-type(10) {
    opacity: 1;
}

input {
    display: none;
}

.col-title {
    width: 100%;
    padding: 0 2rem;
}

.col-main {
    /*LEFT COLUMN*/
    flex: 0 0 75%;
    max-width: 920px;
    padding-bottom: .5rem;
    justify-content: left;
    padding-left: 0rem;
}

.text-container {
    /*PARENT OF .TEXT*/
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0rem 2rem .5rem;
    margin-top: 0rem;
    /*border-bottom: 3px solid #eee;*/
}

.text {
    flex: 0 0 50%;
    padding-bottom: .5rem;
    justify-content: left;
    max-width: 400px;
}

.col-left {
    /*LEFT COLUMN*/
    flex: 0 0 50%;
    max-width: 920px;
    padding-bottom: .5rem;
    justify-content: left;
}

.col-right {
    /*RIGHT COLUMN*/
    flex: 0 0 50%;
    max-width: 920px;
    padding-left: 1.5rem;
}

.col-aside-wide {
    /*RIGHT COLUMN*/
    flex: 0 0 25%;
    max-width: 920px;
    align-content: top;
    padding-left: 1.5rem;
}

.col-aside-mobile {
    display: none;
}

nav.gallery {
    display: grid;
    grid-row: 1/3;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr 3fr;
    grid-column-gap: .5em;
}

.col-md-4 {
    padding: 0;
}

.tm-text-gray {
    color: #6F7071;
}

.tm-fixed-header {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#tm-fixed-header-bg {
    height: 20rem;
}

/* home page*/
.tm-fixed-header-1 {
    background-color: none;
}

.tm-fixed-header-2 {
    /*background-image: url(../img/stripe_header.jpg);*/
    height: 6rem;
    position: relative;
    background-color: var(--fairing);
}

.tm-fixed-header-3 {
    background-color: var(--fairing);
    background-image: url(../img/cropped_cheetah.jpg);
    height: 25rem;
    position: relative;
}

video {
    width: 100%;
    height: auto;
}


/* p styles*/

p.tm-catalog-item-text {
    font-size: .85rem;
}

p.white {
    color: #eaeaea;
}



.tm-welcome-text-2 {
    font-size: calc(4vw + 4vh + 2vmin);
    /* See:
     * https://codepen.io/CrocoDillon/pen/jgmwt
     * For some math behind this
     */
}

.tm-share-button:hover {
    background-color: #e9ecef;
}

/*About*/
.tm-about-text-container {
    max-width: 800px;
    padding-bottom: .5rem;
    padding-top: 1rem;
}

.parallax-window {
    min-height: 270px;
    background: transparent;
}

.parallax-window-2 {
    min-height: 360px;
}

.tm-about-icon {
    color: #999;
}

/* Contact */
.mapouter {
    position: relative;
    text-align: right;
    height: 540px;
    width: 100%;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 540px;
    width: 100%;
}

.form-control {
    font-size: 1.2rem;
    padding: 21px 25px;
}

.form-group {
    margin-bottom: 35px;
}

#contact-select {
    height: 60px;
    border-radius: 0;
}

#contact-select:not([multiple]) {
    /*-webkit-appearance: none;
  -moz-appearance: none;*/
    background-position: right 15px center;
    background-repeat: no-repeat;
    background-image: url(../img/select-arrow.png);
    padding: 14px 20px;
    padding-right: 20px;
    color: #666;
}

.tm-testimonial-text {
    max-width: 420px;
    font-style: italic;
}



/* MEDIA QUERIES BEGIN */

@media (min-width: 992px) {

    /*anything larger than mobile size*/
    #tm-main-nav .nav-item {
        margin: 0rem 0rem 0rem 2rem;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding: .75rem 0rem 0rem;
    }

    .navbar-expand-lg .navbar-collapse {
        justify-content: flex-end;
    }
}

@media (max-width: 1419px) {
    .tm-catalog-item {
        margin-bottom: 6rem;
        max-width: 290px;
    }
}

@media (max-width: 991px) {
    .navbar {
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0;
    }

    .navbar-collapse {
        background-color: var(--carbon-fiber);
        opacity: 85%;
        border-radius: 5px;
        border-top-right-radius: 0;
        padding: 1rem 1.5rem;
    }

    .nav-item {
        margin-bottom: .75rem;
    }

    .navbar-toggler {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        width: 52px;
        height: 40px;
    }

    .navbar-toggler.collapsed {
        border-bottom-left-radius: .25rem;
        border-bottom-right-radius: .25rem;
    }

    .navbar-toggler i.tm-menu-opened-icon {
        display: block;
    }

    .navbar-toggler i.tm-menu-closed-icon {
        display: none;
    }

    .navbar-toggler.collapsed i.tm-menu-opened-icon {
        display: none;
    }

    .navbar-toggler.collapsed i.tm-menu-closed-icon {
        display: block;
    }

    #tm-fixed-header-bg {
        height: 18rem;
    }

    #tm-video {
        width: 888px;
        height: 500px;
    }

    .tm-logo-container {
        width: 9rem;
    }

    .tm-catalog-item-list {
        max-width: 924px;
        justify-content: left;
        column-gap: 1.5rem;
    }

    .tm-catalog-item {
        max-width: 400px;
    }

    .tm-share-box {
        max-width: 924px;
    }
}

@media (max-width: 879px) {
    .tm-categories-container {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 640px) {
    .tm-subscribe-form {
        flex-direction: column;
        align-items: stretch;
    }

    .tm-subscribe-form>input {
        max-width: 100%;
    }

    .tm-subscribe-form input {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .tm-share-box {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .col-lg-7 {
        flex: 0 0 100%;
    }

    .col-lg-5 {
        flex: 0 0 100%;
        padding: 0;
    }

    nav.gallery {
        /*horizontal*/
        display: grid;
        grid-column: 1/3;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: .5rem;
        height: 5rem;
        padding: 0 2rem;
    }

    .col-main {
        /*LEFT COLUMN*/
        flex: 0 0 100%;
        margin-bottom: 0;
        padding-right: 0rem;
        padding-left: 0rem;
    }

    .col-left {
        /*LEFT COLUMN*/
        flex: 0 0 100%;
        margin-bottom: 0;
        padding-right: 0rem;
    }

    .col-right {
        /*RIGHT COLUMN*/
        flex: 0 0 100%;
        padding-left: 0rem;
    }

    .text-container {
        columns: 1;
    }

    .text {
        flex: 0 0 100%;
    }

    .col-aside-mobile {
        /*RIGHT COLUMN*/
        display: contents;
        flex: 0 0 100%;
        padding-left: 0rem;
    }

    .col-aside-wide {
        display: none;
    }

    div.button {
        border-top: none;
    }

    figcaption {
        padding-bottom: 1.5rem;
    }

    h3 {
        font-size: 1.1rem;
    }

    h3.aside {
        padding: 1rem 0rem;
        text-align: left;
        width: 100%;
    }

    .tm-site-name {
        font-size: calc(2vw + 4vh + 2vmin);
        /* See:
         * https://codepen.io/CrocoDillon/pen/jgmwt
         * For some math behind this
         */
    }
}

@media (max-width: 419px) {
    .tm-testimonial {
        flex-direction: column;
    }
}

/*TIMELINE*/
.design-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem 0rem;
}

.design {
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline {
    width: 90%;
    height: auto;
    max-width: 920px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-left: 3px solid;
}

.timeline-content {
    /*background: #021a32;
  -webkit-box-shadow: 2px 2px 5px #1a1a1a, -2px -2px 5px #0E1013;
          box-shadow: 2px 2px 5px #1a1a1a, -2px -2px 5px #0E1013;*/
    color: #0E1013;
    transition: 0.4s ease;
    overflow-wrap: break-word !important;
    margin: 1rem;
    margin-bottom: .5rem;
    padding: .5rem 1rem 1.25rem;
}

.timeline-component {
    margin: .5rem 0rem 1rem 0rem;
}

@media screen and (min-width: 768px) {
    .timeline {
        display: grid;
        grid-template-columns: 1fr 3px 1fr;
        border-left: none;
    }

    .timeline-middle {
        position: relative;
        background-image: linear-gradient(45deg, #0E1013, #666, #0E1013);
        width: 3px;
        height: 100%;
    }

    .main-middle {
        opacity: 0;
    }

    .timeline-circle {
        position: absolute;
        top: 0;
        left: 50%;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-image: linear-gradient(45deg, #0E1013, #666, #0E1013);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}